.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    color: #000;
}
  
.card:hover {
    transform: translateY(-5px);
}
  
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.card-content {
    padding: 15px;
}
  
.card-title {
    font-size: 18px;
    margin: 0 0 10px;
}
  
.card-description {
    font-size: 14px;
    color: #555;
}

.cardInfiButton{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #24995b; /* Primary button color */
  border-radius: 5px;
  border: #24995b solid 1px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease
}