#loginmain{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1000;
}

#AuthPageLogo{
    margin: auto;
}

#AuthPageLogo img{
    max-width: 200px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1000;
    direction: rtl;
}
  
.login-form {
    background-color: rgba(255, 255, 255, 0.308);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 10px #041f11;
    width: 60%;
    text-align: center;
    animation: fadeIn 0.8s ease-out;
}
  
.login-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

#loginicon{
    font-size: 40px;
}
  
.input-group {
    margin-bottom: 20px;
    text-align: left;
}
  
.input-group label {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
    direction: rtl;
    text-align: start;
}
  
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}
  
.input-group input:focus {
    border-color: #24995b;
    outline: none;
}

.password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.show-password-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}
  
.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.remember-me input {
    margin-right: 10px;
}
  
.login-btn {
    width: 100%;
    background-color: #24995b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.login-btn:hover {
    background-color: #145332;
}
  
.login-options {
    margin-top: 20px;
}
  
.login-options p,
.forgot-password {
    font-size: 14px;
    color: #fff;
}
  
.login-options a {
    color: #36cf7d;
    text-decoration: none;
}
  
.login-options a:hover {
    text-decoration: underline;
}

.loading {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
  
.success-message {
    color: #28a745;
    font-size: 16px;
    margin-bottom: 15px;
}
  
.error-message {
    color: #dc3545;
    font-size: 16px;
    margin-bottom: 15px;
}
  
/* Animations */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
/* Responsive */
@media (max-width: 480px) {
    .login-form {
      padding: 30px;
    }
  
    .login-title {
      font-size: 22px;
    }
}