.popcard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.3s ease, transform 1.3s ease, box-shadow 0.9s ease, transform 0.9s ease;
    width: 400px; /* Fixed width for each card */
    height: 600px;
    margin-right: 20px; 
    cursor: pointer;
    position: relative;
    z-index: 1000;
    text-align: center;
  }
  
  .popcard.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .popcard:hover {
    transform: translateY(-10px); /* Lift the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow */
  }
  
  /* Optional: Add scaling effect */
  .popcard:hover .card-image {
    transform: scale(1.1); /* Slight zoom effect on image */
  }
  
  .popcard-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth zoom effect */
  }
  
  .popcard-content {
    padding: 15px;
  }
  
  .popcard-title {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  .popcard-description {
    font-size: 14px;
    color: #555;
  }
  
.popcard-icon{
  font-size: 50px;
}
 
@media (max-width: 668px) {
    .popcard {
      width: 100%;
    }
  }