.slider-container {
    width: 90%; /* Adjust width as needed */
    margin: auto; /* Center the slider */
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1000;
    text-align: center;
    color: #fff;
}
  
/* Style each slide */
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Add padding for spacing between slides */
    transform: translateY(20px);
    transition: opacity 1.3s ease, transform 1.3s ease, box-shadow 0.9s ease, transform 0.9s ease;
    cursor: pointer;
  }
  
  /* Style the images to enforce size */
  .slick-slide img {
    width: 100%; /* Ensures image takes up full width of slide */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Enforce a maximum width for the image */
    max-height: 300px; /* Enforce a maximum height for the image */
    min-width: 350px; /* Enforce a maximum width for the image */
    min-height: 250px; /* Enforce a maximum height for the image */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners */
  }
  
/* Hide text in default navigation arrows */
.slick-prev, .slick-next {
    font-size: 0; /* Remove text by setting font-size to 0 */
    line-height: 0; /* Ensure there’s no line height affecting the size */
}

.slider-button{
  margin-top: 50px;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #24995b; /* Primary button color */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-button:hover {
  background-color: #18663d; /* Darker shade on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}

.testimonial-slide{
  background-color: #18663d;
  min-height: 100px;
  border: black solid 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}