.goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--dark-color); /* Dark background color */
    color: var(--bg-color); /* Background color for text */
    border: none;
    border-radius: 46% 54% 54% 46% / 100% 100% 0% 0% ;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 999;
}
  
.goToTopBtn:hover{
    background-color: var(--main-color);
}

.goToTopBtn.visible {
    display: block;
    opacity: 1;
}