.intellectual-property-rights-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white; /* Background color */
    box-shadow: 0 0 10px var(--sec-color); /* Shadow for a subtle lift */
    border-radius: 10px;
    text-align: right; /* Right-to-left text alignment */
    margin-top: 2rem;
    margin-bottom: 2rem;
    direction: rtl;
    position: relative;
    z-index: 1000;
}

.intellectual-property-rights-container header {
    margin-bottom: 20px;
}

.intellectual-property-rights-title {
    color: var(--main-color); /* Main color for text and accents */
    font-size: 24px;
}

.intellectual-property-rights-text {
    color: var(--sec-color); /* Dark background color */
    font-size: 16px;
    line-height: 1.5;
}

.intellectual-property-rights-container section {
    margin-bottom: 20px;
}

.intellectual-property-rights-container h1 {
    color: var(--sec-color); /* Dark background color */
    text-align: center;
}

.intellectual-property-rights-container h2 {
    color: var(--sec-color); /* Dark background color */
    font-size: 20px;
    margin-bottom: 10px;
}

.intellectual-property-rights-container p {
    font-size: larger;
    color: var(--sec-color); /* Dark background color */
}

.intellectual-property-rights-container footer {
    margin-top: 20px;
    color: #777; /* Adjusted gray color */
    font-size: 14px;
}

#plogoDiv {
    display: flex;
    justify-content: center;
}

.plogo {
    width: 10%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.intellectual-property-rights-container {
    animation: fadeIn 1s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .intellectual-property-rights-container{
        margin-left: 15px;
        margin-right: 15px;
    }
}